@charset "UTF-8";
@import url("reset.css");
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif; }

* {
  box-sizing: border-box; }

body {
  font-size: 1.4rem; }

a {
  color: inherit;
  text-decoration: none; }

footer {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 10px; }

/*media quer*/
@media only screen and (max-width: 516px) {
  header {
    width: 100%;
    height: 25vh;
    color: white;
    line-height: 3rem;
    position: relative;
    background: red url("../img/img.jpeg") center/cover no-repeat; }

  #przeslona {
    width: 100%;
    height: 100%;
    /*wysokość rodzica*/
    background-color: rgba(36, 32, 32, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden; }

  header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    line-height: 25vh;
    font-size: 2.2rem;
    letter-spacing: 1.4rem;
    color: white; }

  header p {
    display: none; }

  header .przycisk {
    display: none; }

  nav {
    position: relative; }
    nav ul {
      background-color: orangered; }
      nav ul li {
        width: 100%;
        height: 40px;
        text-align: center;
        border-bottom: 2px solid white;
        line-height: 40px; }
        nav ul li a {
          color: #fff;
          padding: 2rem; }

  .container {
    width: 97%; }

  section {
    margin-top: 4rem;
    min-height: 400px;
    padding: 2rem; }

  section h2 {
    font-size: 2rem;
    margin-bottom: 2rem; }

  section p {
    line-height: 2rem;
    text-align: justify; }

  section:nth-of-type(even) {
    background: url("../img/img2.jpg") center/cover no-repeat;
    background-attachment: fixed;
    color: white; }

  .sprites_media {
    background: url("../img/sprites_spolecznosciowe.png");
    width: 43px;
    height: 42px;
    overflow: hidden;
    display: inline-block;
    float: right; }

  div:nth-of-type(1) {
    background-position: 0px -1px;
    transition: all 0.5s linear; }

  div:nth-of-type(2) {
    background-position: -52px -1px;
    transition: all 0.5s linear; }

  div:nth-of-type(3) {
    background-position: -104px -1px;
    transition: all 0.5s linear; }

  div:nth-of-type(4) {
    background-position: -156px -1px;
    transition: all 0.5s linear; } }
@media only screen and (min-width: 517px) {
  header {
    width: 100%;
    height: 100vh;
    color: white;
    line-height: 3rem;
    position: relative;
    background: red url("../img/img.jpeg") center/cover no-repeat; }

  #przeslona {
    width: 100%;
    height: 100%;
    /*wysokość rodzica*/
    background-color: rgba(36, 32, 32, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden; }

  header h1, header p, header .przycisk {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: none;
    z-index: 2;
    word-spacing: 0.4rem;
    letter-spacing: 0.3rem; }

  header h1 {
    top: 25%;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2.6rem; }

  header p {
    top: 40%;
    font-size: 2rem;
    line-height: 3.5rem; }

  header .przycisk {
    display: block;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 260px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 1.5rem;
    font-size: 1.8rem;
    box-shadow: 0 0 15px 2.5px #fff;
    transition: all 0.5s ease;
    background-color: orangered; }

  header .przycisk:hover {
    box-shadow: 0 0 10px #fff; }

  nav {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0; }

  nav ul li a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: orangered;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: all 1s ease; }

  nav ul li a:hover {
    border-bottom: 2px solid #132b58; }

  section {
    margin-top: 4rem;
    min-height: 400px;
    padding: 2rem; }

  section h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem; }

  section p {
    line-height: 4rem;
    font-size: 1.6rem; }

  section:nth-of-type(even) {
    background: url("../img/img2.jpg") center/cover no-repeat;
    background-attachment: fixed;
    color: white; }

  .container {
    width: 80%;
    margin: 0 auto; }

  .sprites_media {
    background: url("../img/sprites_spolecznosciowe.png");
    width: 43px;
    height: 42px;
    overflow: hidden;
    display: inline-block;
    float: right; }

  div:nth-of-type(1) {
    background-position: 0px -1px;
    transition: all 0.5s linear; }

  div:nth-of-type(1):hover {
    background-position: 0px -43px; }

  div:nth-of-type(2) {
    background-position: -52px -1px;
    transition: all 0.5s linear; }

  div:nth-of-type(2):hover {
    background-position: -52px -43px; }

  div:nth-of-type(3) {
    background-position: -104px -1px;
    transition: all 0.5s linear; }

  div:nth-of-type(3):hover {
    background-position: -104px -43px; }

  div:nth-of-type(4) {
    background-position: -156px -1px;
    transition: all 0.5s linear; }

  div:nth-of-type(4):hover {
    background-position: -156px -43px; } }

/*# sourceMappingURL=style.css.map */
